body{
	font-family: 'Courier New';
	user-select: none;
	margin: calc(3* (1vh + 1vw)/2);
}
.content{
	float: right;
}

.menu{
	vertical-align: top;
	float:left;
}

@media only screen and (max-aspect-ratio: 1){
	.menu{
		font-size: calc(5vw);
	}
	
}

.menu-item{	
	margin-top: 0;
	margin-bottom: 40px;
}

.name{
	cursor: default;
}
.reactive{
  display: flex;
}
.selectable{
  cursor: pointer;
  transition-property: opacity font-weight transform;
	transition-duration: 0.3s;
	opacity: 1;
}

.selectable:hover{
  opacity: 0.1;
}


.quote{
	padding-right: 20vw;
	padding-top: 20vh;
	width: 100px;
	vertical-align: top;
	cursor:default;
}

.list {
	display: inline-block;
	overflow-y: auto;
}

.list-item{
	border: none;
	display: block;
	text-align: right;
	margin-left: 25px;
	float: right;
	clear: right;
	cursor: pointer;
	transition: 0.3s;
	background-image: linear-gradient(
		20deg, 
		#8BC6EC, 
		#B721FF 50%,
		black 50%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 350%;
	background-position: 100%;
	
}

.gradient-2{
	background-image: linear-gradient(
		20deg, 
		#c85555, 
		#ffaa21 50%,
		black 50%);
}

.list-item:hover{
	transform: translateX(-20px) translateY(-5px) skewX(10deg) rotateX(20deg);
	background-position: 0%;
}

.list-item-name{
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	transition: 1s;
}



.list-item-year{
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 0;
	font-weight: bold;
	display: inline-block;
}

.list-item-skills{
	font-size: 16px;
	margin-top: 0;
	display: block;
}

.contact{
	display: inline-block;
}

.contact-top-row{
	display: block;
}

.contact-field{
	width: 80%;
	float: right;
	margin: 10px;
	font-family: 'Courier New', monospace;
	padding: 10px;
	border-radius: 30px;
	font-size: 18px;
	border: 3px;
	border-style: solid;
	border-color:cornflowerblue;
}

.contact-message{
	display: inline-block;
}

.contact-submit{
	width: auto;
	float: right;
	color: black;
	background-color: rgb(142, 174, 235);
	font-weight:bold;
	border-color: black;
	transition: 0.15s
	
}

.contact-submit:hover{
	box-shadow: 0 5px 0 0;
	transform: translateY(-5px);
	background-color: cornflowerblue;
}

.contact-submit:active{
	background-color: rgb(45, 112, 235);
	box-shadow: 0 0 0 0;
	transform: translateY(0);
}
